<div class="container">
<div class="panel panel-default">
  <div class="row-fluid">
  <div class="span12" style="margin: 0px; background-color: red; width: 100%;float: left;">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= pluralize(User.all.size, 'Utilisateurs') %></div>
  </div>
  </div>
</div>
</div>



