<body>
<div class="container">
  <header class="page-header">
    <h1>Quimmo</h1>
  </header>
  <section class="row">
    <div class="col-lg-2">
      <p>
    <h1>Acquéreurs</h1>
    </div>
  </section>
  <section class="row">
<div class="col-lg-2">
  <p>
    <h1>Biens</h1>
</div>
      </section>
    </div>
</body>